body {
    display: flex;
    flex-direction: column;
}

.topline {
    
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: #c69e58;
}

.introduction {
    display: flex;
    flex-direction: row;
}

.heading-left {
    display: flex;
    font-family: "Vina Sans", sans-serif;
    font-size: 1px;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-color: rgb(8, 50, 36);
}
.heading-left>h1 {
    font-family: "Kufam", sans-serif;
    font-size: 3rem;
    text-align: center;
}



.heading-left>.height {
    padding-bottom: 0px;
}

#mainlogo {
    width: 35vh;
    height: 40vh;
    position: relative;
}

.signature {
    align-self: flex-center;
    font-family: "Pinyon Script", cursive;
}

.seperator {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: rgb(8, 50, 36);
    background-image: -webkit-linear-gradient(0deg,
            rgb(8, 50, 36) 50%,
            #ffffff 50%);
}

.levi {
    height: 90%;
    width: 110%;
    transform: rotate(-0.5deg);
}

.heading-right {
    background-color: #ffffff;
    background-image: url("./assets/images/Levi2.png");

    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.heading-right>h1 {
    font-size: 4rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    position: relative;
    top:0px;

    font-family: "Vina Sans", sans-serif;
}

h1>.second {
    color: #c69e58;
}

.signup{
    text-align: center;

}

.modal-content{
    background-image: url("./assets/images/birds.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: -80px;
    background-position-y: 1px ;

}

footer{
    width: 100vh;
    text-align: left;
    position: fixed;
    top:97vh;
    color:white;
}